.assetsbg{
	background: #f4f4f4;
}
.assetstopbox{
	height: 2.44rem;
	width: 100%;
	background: url(../img/assetstopbg.jpg) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 0.2rem;
}
.assetstopbox .p1{
	color:#fff;
	opacity: 0.5;
	font-size: 12px;
	line-height:0.88rem ;
	padding: 0.52rem 0.32rem 0;
}
.assetstopbox .p2{
	color:#fff;
	font-size: 25px;
	font-weight: bold;
	line-height:0.8rem ;
	padding:0 0.32rem;
}
.assetstopbox .p2 span{
	font-weight: normal;
	opacity: 0.5;
	font-size: 12px;
	padding-left: 0.16rem;
}
.assetslistbox ul{
	padding:0 0.32rem;
	margin-bottom: 0.2rem;
	background: #fff;
}
.assetslistbox li{
	border-bottom: 1px solid #f1f1f1;
}
.assetslistbox li a{
	display: block;
}
.assetslitop{
	height: 1.24rem;
	position: relative;
}
.assetslitop .name{
	font-weight: bold;
	font-size: 18px;
	color: #303030;
	line-height: 1.24rem;
	float: left;
	/* padding-left: 0.76rem;
	background-size: 0.68rem auto;
	background-position: left center;
	background-repeat: no-repeat; */
}
/* .assetslistbox li:nth-child(1) .name{
	background-image: url(../img/assetsico_yl.png);
}
.assetslistbox li:nth-child(2) .name{
	background-image: url(../img/assetsico_ff.png);
}
.assetslistbox li:nth-child(3) .name{
	background-image: url(../img/assetsico_ad.png);
}
.assetslistbox li:nth-child(4) .name{
	background-image: url(../img/assetsico_adb.png);
}
.assetslistbox li:nth-child(5) .name{
	background-image: url(../img/assetsico_dxa.png);
}
.assetslistbox li:nth-child(6) .name{
	background-image: url(../img/assetsico_dti.png);
}
.assetslistbox li:nth-child(7) .name{
	background-image: url(../img/assetsico_dzg.png);
}
.assetslistbox li:nth-child(8) .name{
	background-image: url(../img/assetsico_dxn.png);
}
.assetslistbox li:nth-child(9) .name{
	background-image: url(../img/assetsico_dli.png);
}
.assetslistbox li:nth-child(10) .name{
	background-image: url(../img/assetsico_dyi.png);
}
.assetslistbox li:nth-child(11) .name{
	background-image: url(../img/assetsico_dln.png);
}
.assetslistbox li:nth-child(12) .name{
	background-image: url(../img/assetsico_dci.png);
} */
.assetslicon{
	display: flex;
	display: -webkit-flex;
}
.assetslicon .con{
	flex: 1;
	-webkit-flex: 1;
	height: 1.6rem;
}
.assetslicon .con .p1{
	font-size: 12px;
	color: #cccccc;
	line-height: 0.56rem;
	padding-top: 0.12rem;
}
.assetslicon .con .p2{
	font-size: 14px;
	color: #303030;
	line-height: 0.6rem;
}
.assetslicon .con:nth-child(2){
	padding:0 0.1rem 0 0.9rem;
}
.assetslicon .con:last-child{
	text-align: right;
	padding-left: 0.1rem;
}
/* 详情 */
.assetsxq_topbox{
    padding: 0 0.32rem;
	border-bottom: solid 0.2rem #f4f4f4;
}
.assetsxq_topboxcon {
    height: 2rem;
    line-height: 2rem;
    position: relative;
}
.assetsxq_topboxcon .name{
	font-weight: bold;
    font-size: 27px;
    color: #303030;
    float: left;
}
.returnpagebtn{
	float: right;
	height: 100%;
	font-size: 30px;
}
.assetsxqtopcon{
	display: flex;
    display: -webkit-flex;
}
.assetsxqtopcon .con{
	flex: 1;
	-webkit-flex: 1;
	height: 1.6rem;
}
.assetsxqtopcon .con .p1{
	font-size: 12px;
	color: #cccccc;
	line-height: 0.56rem;
	padding-top: 0.09rem;
}
.assetsxqtopcon .con .p2{
	font-size: 14px;
	color: #303030;
	line-height: 0.6rem;
}
.assetsxqtopcon .con:nth-child(2){
	padding:0 0.1rem 0 0.9rem;
}
.assetsxqtopcon .con:last-child{
	text-align: right;
	flex: 1.2;
	-webkit-flex: 1.2;
	min-width: 127px;
}
.assetsxqlistbox{
	padding: 0 0.32rem;
}
.assetsxqlistbox .tit{
	color: #474747;
	font-size: 18px;
	font-weight: bold;
	padding-top: 0.24rem;
	line-height: 0.96rem;
	
}
.assetsxqlistbox ul{
	padding-bottom: 2.88rem;
}
.assetsxqlistbox li{
	border-bottom: 1px solid #f1f1f1;
}
.assetsxqlistbox li:last-child{
	border-bottom: none;
}
.assetsxqlitop{
	padding: 0.02rem 0;
}
.assetsxqlitop .text{
    color: #474747;
}
.assetsxqlistbox .con .p1{
	color: #a5a5a5;
}
.assetsxqlistbox .assetslicon .con:last-child{
	padding-left: 0;
	flex: 1.2;
	-webkit-flex: 1.2;
	min-width: 127px;
}
.assetsxqbottom{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 0 0.84rem;
	display: flex;
	-webkit-display: flex;;
	z-index: 2;
}
.assetsxqbottom li{
	flex: 1;
	-webkit-flex:1;
	text-align: center;
}
.assetsxqbottom a{
	display: inline-block;
	vertical-align: top;
	width: 1.84rem;
	height: 1.84rem;
	box-shadow:#ececec 0 0.08rem 0.2rem ;
	border:1px solid #f2f2f2;
	border-radius: 50%;
	color: #474747;
	font-size: 12px;
	line-height: 0.72rem;
	background: #fff;
}
.assetsxqbottom p{
	font-size: 28px;
	height: 0.4rem;
	min-height: 30px;
	padding-top:0.28rem;
}
.assetsxqbottom li:active a{
	color: #ffac00;
}
.assetsxqno{
	display: none;
	padding-top: 2.28rem;
	text-align: center;
}
.assetsxqno p:nth-child(1){
	font-size: 1.84rem;
	line-height: 1.84rem;
}
.assetsxqno p:nth-child(2){
	padding-top: 0.44rem;
	line-height: 0.48rem;
	font-size: 14px;
	color: #949494;
}
/* 转入 */
.c_intotopbox{
	margin: 0 0.32rem;
	padding: 0.52rem 0 0.48rem;
}
.c_intotopinputbox{
	height: 1.2rem;
	padding: 0 0.4rem 0 0.52rem;
	background: #f7f7f7;
	border-radius: 0.08rem;
	line-height: 1.2rem;
	position: relative;
}
.c_intotopinputbox .left{
	position: absolute;
	left: 0.52rem;
	top: 0;
	height: 100%;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	color: #303030;
}
.c_intotopinputbox .right{
	float: right;
	font-size: 12px;
	color: #999;
	text-align: right;
}
.c_intow{
	padding: 0 0.32rem;
}
.c_intotypetit{
	font-size: 14px;
	color: #474747;
	line-height: 0.52rem;
	padding-bottom: 0.28rem;
}
.c_intonav{
	padding-bottom: 0.52rem;
}
.c_intonav li{
	float: left;
	width: 1.92rem;
	height: 0.84rem;
	line-height: 0.84rem;
	background: #f7f7f7;
	border-radius: 0.08rem;
	margin-right: 0.32rem;
	text-align: center;
	color: #474747;
	border:1px solid #fff;
	cursor: pointer;
}
.c_intonav li.active{
	background: #fff;
	border:1px solid #ffac00;
	color: #ffac00;
}
.c_intoconbox{
	background: #f7f7f7;
	border-radius: 0.08rem;
	padding: 0.76rem 0.32rem 0.44rem;
}
.c_intoconewmbox{
	height: 4.72rem;
	width: 4.72rem;
	border:2px solid #f0f0f0;
	border-radius: 0.24rem;
	overflow: hidden;
	margin: 0 auto;
}
.c_intoconewmbox img{
	width: 100%;
	height: 100%;
}
.c_intoewmtip{
	margin: 0.48rem auto 0;
	color: #ffac00;
	font-size: 14px;
	background: #faf4e6;
	border:1px solid #fedb93;
	height: 1.04rem;
	line-height: 1.04rem;
	text-align: center;
	width: 4.2rem;
}
.c_intoconbox .text1{
	text-align: center;
	color: #999;
	font-size: 12px;
	padding: 0.6rem 0 0.36rem;
	line-height: 0.44rem;
	
}
.c_intoconbox .copytext{
	text-align: center;
	color: #303030;
	font-size: 15px;
	padding: 0 0 0.4rem;
	line-height: 0.44rem;
}
.c_intoconbox .copybtn{
	display: block;
	margin: 0 auto;
	width: 1.72rem;
	height: 0.88rem;
	line-height: 0.88rem;
	text-align: center;
	background: #e6e6e6;
	color: #999;
	font-size: 12px;
	border-radius: 0.08rem;
}
.c_intotextbox{
	line-height: 0.64rem;
	color: #999;
	font-size: 12px;
	padding: 0.4rem 0 0.6rem;
	
}
.c_intobottombox{
	padding-bottom: 0.84rem;
}