.mine_bgbox{
	background:#fff url(../img/minepagebg.jpg) no-repeat;
	background-size: 100% auto;
}
.mine_conbox{
	margin: 0.6rem 0.32rem;
	background: #fff;
	border-radius: 0.32rem;
	padding: 0.2rem 0.48rem;
	position: relative;
	z-index: 1;
}
.mine_conbox li{
	height: 1.52rem;
	line-height: 1.52rem;
	border-bottom: 1px solid #f4f4f4;
}
.mine_conbox li:last-child{
	border-bottom: none;
}
.mine_conbox li a{
	display: block;
	color: #303030;
	font-size: 0.4rem;
	display: flex;
	display: -webkit-flex;
}
.mine_conbox li p.ico{
	padding-right: 0.3733rem;
	font-size: 0.5733rem;
}
.mine_conbox li p.name{
	flex: 1;
	-webkit-flex: 1;
}
.mine_conbox li p.jt{
	color:#d0d0d0 ;
	font-size: 0.3733rem;
	padding-left: 0.28rem;
}
.mine_conbox li p.statet{
	color:#949494 ;
	font-size: 0.3733rem;
}
.tjryqcodeflo,
.contactusflo{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 101;
	overflow-y: auto;
	-webkit-overflow-scrolling:touch ;
	display: none;
}
.tjryqcodeflocon{
	position: relative;
	margin: 1.32rem auto 0;
	border-radius: 0.64rem;
	padding:0.8rem 0.72rem 1.12rem;
	width: 7.64rem;
	background: -webkit-linear-gradient(top, #aa71cc %, #fff 73%); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(bottom, #aa71cc, #fff 73%); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(bottom, #aa71cc, #fff 73%); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom, #aa71cc , #fff 73%); /* 标准的语法 */
}
.tjryqcodeflocon .tit,
.contactusflocon .tit{
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 0.68rem;
	font-size: 0.5333rem;
	padding-bottom: 0.7466rem;
}
.tjryqcodeflocon .textcon{
	text-align: center;
	color: #fff;
	font-size: 0.3733rem;
	line-height: 0.5333rem;
	padding-bottom: 0.8533rem;
}
.tjryqcodeflocon .textcon strong{
	color: #ffeb68;
	font-size: 0.4266rem;
}
.tjryqcodeflocon .inbox{
	width: 6.08rem;
	height: 1.2rem;
	background: #fff;
	border-radius: 0.08rem;
	margin: 0 auto;
	line-height: 1.2rem;
	padding: 0 0.48rem;
	box-shadow: rgba(217,217,217,.38) 0 1px 0.36rem;
}
.tjryqcodeflocon .inbox input{
	display: block;
	height: 1.2rem;
	width: 100%;
	font-size: 0.4rem;
	color: #303030;
}
.tjryqcodeflobtnbox{
	padding: 1.12rem 0 0 ;
}
.tjryqcodeflobtn{
	font-size: 0.48rem;
}
.closetjryqcodeflo,
.closecontactusflo{
	position: absolute;
	color: #fff;
	font-size: 0.84rem;
	text-align: center;
	line-height: 1.56rem;
	height: 1.56rem;
	width: 1.56rem;
	top: 0.08rem;
	right:0.12rem;
	opacity: 0.75;
}
.contactusflocon{
	position: relative;
	margin: 1.32rem auto 0;
	border-radius: 0.64rem;
	padding:0.8rem 0.72rem 1.12rem;
	width: 7.64rem;
	background: -webkit-linear-gradient(top, #55acee %, #fff 58%); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(bottom, #55acee, #fff 58%); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(bottom, #55acee, #fff 58%); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom, #55acee , #fff 58%); /* 标准的语法 */
}
.contactusflolist li{
	height: 1.2rem;
	line-height: 1.2rem;
	background: #fff;
	border-radius: 0.08rem;
	margin-bottom: 0.2rem;
	box-shadow: rgba(217,217,217,.38) 0 1px 0.36rem;
	display: flex;
	display: -webkit-flex;
}
.contactusflolist li .ico{
	padding: 0 0.28rem 0 0.3733rem;
	width: 0.6533rem;
	font-size: 0.6533rem;
}
.contactusflolist li .text{
	flex: 1;
	-webkit-flex: 1;
	font-size: 0.32rem;
	color: #303030;
}
.contactusflolist li .copybtn{
	width: 1.72rem;
	text-align: center;
	color: #4fa6ff;
	padding: 0;
	font-size: 0.32rem;
}
/* 绑定手机 */
.bindtel_bg{
	background: url(../img/entrance_bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.bindtelbox{
	padding: 0.8rem 0.8rem 1.24rem;
}
.bindtelboxcon li{
	border-bottom: 1px solid #f4f4f4;
	line-height: 1rem;
	height: 1rem;
	display: flex;
    display: -webkit-flex;
}
.bindtellabel {
    padding-right: 0.4rem;
    position: relative;
}
.bindtellabel span {
    padding: 0 0.08rem;
    color: #303030;
    font-weight: bold;
    font-size: 15px;
}
.bindtellabel:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border: 6px solid #e2e2e2;
    border-left: 4px solid rgba(0,0,0,0);
    border-right: 4px solid rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
}
.btel_telvalue {
    flex: 1;
    -webkit-flex: 1;
    color: #303030;
    margin-left: 0.52rem;
    font-size: 15px;
    height: 100%;
	font-weight: bold;
}
.btel_yzmvalue{
    flex: 1;
    -webkit-flex: 1;
	font-size: 15px;
}
.btel_yzmbtn {
    padding-left: 0.32rem;
    color: #4fa6ff;
    cursor: pointer;
}
.btel_bindingbottombox{
	padding: 0 0.8rem ;
}
.btel_unbindingbtn{
	border-radius: 2rem;
    display: block;
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #303030;
    font-size: 15px;
    text-align: center;
	margin-top: 0.44rem;
}
.bedtel_text{
	text-align: center;
	padding: 1.28rem 0 0;
	line-height: 0.88rem;
	height: 0.88rem;
	color: #949494;
	font-size: 0.3733rem;
}
.bedtel_teltext{
	text-align: center;
	line-height: 0.88rem;
	height: 0.88rem;
	color: #949494;
	font-size: 0.3733rem;
}
.bedtel_teltext p{
	display: inline-block;
	color: #303030;
	line-height: 0.92rem;
	height: 0.92rem;
	font-weight: bold;
}
.bedtel_teltext p:nth-of-type(1){
	font-size: 0.4rem;
	padding-right: 0.4rem;
}
.bedtel_teltext p:nth-of-type(2){
	font-size: 0.48rem;
}
.bedtel_bottombox{
	padding: 1.28rem 0.8rem 0;
}
.bedtel_bindingbtn{
	font-size: 16px;
}
/* 注册 登陆 忘记密码*/
.registerednavbox,
.landingnavbox,
.fpwordnavbox{
	padding: 0.32rem 0.08rem 0;
}
.registerednavbox li,
.landingnavbox li,
.fpwordnavbox li{
	padding: 0 0.64rem;
	float: left;
}
.registerednavbox li a,
.landingnavbox li a,
.fpwordnavbox li a{
	line-height: 0.96rem;
	height: 0.96rem;
	display: block;
	color: #474747;
	font-size: 18px;
	position: relative;
	padding: 0 0.08rem;
}
.registerednavbox li a:after,
.landingnavbox li a:after,
.fpwordnavbox li a:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 5rem;
	background: -webkit-linear-gradient(left, #ffd801 , #ffaa00); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #ffd801, #ffaa00); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #ffd801, #ffaa00); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #ffd801 , #ffaa00); /* 标准的语法 */
	left: 0;
	bottom: -4px;
	display: none;
}
.registerednavbox li.active a,
.landingnavbox li.active a,
.fpwordnavbox li.active a{
	color: #303030;
	font-weight: bold;
}
.registerednavbox li.active a:after,
.landingnavbox li.active a:after,
.fpwordnavbox li.active a:after{
	display: block;
}
.registeredwbox,
.landingwbox,
.fpwordwbox{
	padding: 0.84rem 0.72rem 0;
}
.registeredwbox .conw,
.landingwbox .conw,
.fpwordwbox .conw{
	display: none;
}
.registeredwbox li,
.landingwbox li,
.fpwordwbox li{
	border-bottom: 1px solid #f4f4f4;
	height: 0.96rem;
	line-height: 0.96rem;
	padding-top: 0.28rem;
	display: flex;
	display: -webkit-flex;
	font-size: 14px;
	color: #303030;
}
.teladlabel span{
	padding: 0 0.08rem;
	color: #303030;
	font-weight: bold;
	font-size: 15px;
}
.teladlabel{
	padding-right: 0.4rem;
	position: relative;
}
.teladlabel:after{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -3px;
	height: 0;
	width: 0;
	border:6px solid #e2e2e2;
	border-left:4px solid rgba(0,0,0,0);
	border-right:4px solid rgba(0,0,0,0);
	border-bottom-color: rgba(0,0,0,0);
}
.telvalue{
	flex: 1;
	-webkit-flex: 1;
	color: #303030;
	margin-left: 0.52rem;
	font-size: 15px;
	height: 100%;
}
.yzmvalue,.mmvalue,.qrmmvalue,.invcodevalue,.mailvalue,.privatekeyvalue{
	flex: 1;
	-webkit-flex: 1;
}
.yzmbtn{
	padding-left: 0.32rem;
	color: #4fa6ff;
	cursor: pointer;
}
.yzmac{
	color: #ccc;
	cursor: inherit
}
.mmeyesbtn,.qrmmeyesbtn{
	padding-left: 0.32rem;
	font-size: 15px;
}
.registeredwbox .phonecon li:nth-child(1){
	height: 1rem;
	line-height: 1rem;
	border-bottom-color: #f4d188;
}
.registered_gotoyhxy{
	height: 1.16rem;
	line-height: 1.16rem;
	color: #474747;
	font-size: 14px;
	padding: 0 0.72rem 0.8rem;
}
.registered_gotoyhxy a{
	color: #4fa6ff;
}
.registered_gotoyhxy span{
	padding-right: 0.24rem;
	color: #4fa6ff;
	display: none;
}
.registeredbottombox,
.landingbottombox{
	padding: 0 0.72rem 0;
}
.golandingopagetext{
	color: #474747;
	font-size: 14px;
	padding-top: 0.44rem;
	line-height: 1.28rem;
	text-align: center;
}
.golandingopagetext a{
	color: #4fa6ff;
	font-weight: bold;
}
.landingwbox,
.fpwordwbox{
	padding-bottom: 1.24rem;
}
.landingbottomcon{
	font-size: 12px;
	padding-top: 0.44rem;
	line-height: 1.28rem;
}
.goregisteredpagetext{
	float: left;
	color: #474747;
}
.goregisteredpagetext a{
	color: #4fa6ff;
}
.gof_passwordpagetext{
	color: #4fa6ff;
	font-weight: bold;
	float: right;
}
.retlandingopagetext{
	font-size: 14px;
	padding-top: 0.44rem;
	line-height: 1.28rem;
	text-align: center;
	font-weight: bold;
}
.retlandingopagetext a{
	color: #4fa6ff;
}