.mine_bgbox{
	background: #f4f4f4;
}
.minetopbox{
	height: 3.64rem;
	background: url(../img/minetopbg.jpg) no-repeat;
	background-size: 100% 100%;
	padding: 0 0.32rem;
	position: relative;
}
.gobackupkeypage{
	position: absolute;
	right: 0;
	top: 0.36rem;
	padding: 0 0.52rem 0 0.4rem;
	height: 0.76rem;
	line-height: 0.76rem;
	color: #fff;
	background: #5033d0;
	box-shadow: rgba(85,54,213,0.25) 0 0.08rem 0.12rem;
	border-radius:5rem 0 0 5rem ;
	font-size: 12px;
}
.minetopbox .tit{
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	line-height: 0.8rem;
	padding: 1.08rem 0.2rem 0;
}
.minetopbox .addresscode{
	font-size: 14px;
	color: #fff;
	line-height: 0.76rem;
	padding: 0 0.2rem;
}
.minetopbox .addresscode span{
	display: inline-block;
	vertical-align: top;
}
.minetopbox .addresscode button{
	display: inline-block;
	vertical-align: top;
	line-height: 0.76rem;
	padding: 0 0.4rem;
	font-size: 20px;
	color: #fff;
}
.mine_conbox{
	margin: 0 0.32rem;
	background: #fff;
	border-radius: 0.16rem;
	padding: 0.2rem 0.48rem;
	margin-top: -0.72rem;
	position: relative;
	z-index: 1;
}
.mine_conbox li{
	height: 1.24rem;
	line-height: 1.24rem;
	border-bottom: 1px solid #f4f4f4;
}
.mine_conbox li:last-child{
	border-bottom: none;
}
.mine_conbox li a{
	display: block;
	color: #303030;
	font-size: 14px;
	display: flex;
	display: -webkit-flex;
}
.mine_conbox li p:nth-child(1){
	padding-right: 0.3733rem;
	color: #474747;
}
.mine_dropoutbtn{
	position: absolute;
	width: 9.36rem;
	left: 50%;
	bottom: 2.2rem;
	margin-left: -4.68rem;
	color: #4fa6ff;
	font-size: 14px;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	background: #fff;
	border-radius: 10rem;
	box-shadow: #eee 0 0.24rem 0.24rem;
	z-index: 2;
}
/* 注册 */
.registerednavbox{
	padding: 0.32rem 0.08rem 0;
}
.registerednavbox li{
	padding: 0 0.64rem;
	float: left;
}
.registerednavbox li a{
	line-height: 0.96rem;
	height: 0.96rem;
	display: block;
	color: #474747;
	font-size: 18px;
	position: relative;
	padding: 0 0.08rem;
}
.registerednavbox li a:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 5rem;
	background: -webkit-linear-gradient(left, #ffd801 , #ffaa00); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #ffd801, #ffaa00); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #ffd801, #ffaa00); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #ffd801 , #ffaa00); /* 标准的语法 */
	left: 0;
	bottom: -4px;
	display: none;
}
.registerednavbox li.active a{
	color: #303030;
	font-weight: bold;
}
.registerednavbox li.active a:after{
	display: block;
}
.registeredwbox{
	padding: 0.84rem 0.72rem 0;
}
.registeredwbox .conw{
	display: none;
}
.registeredwbox li{
	border-bottom: 1px solid #f4f4f4;
	height: 0.96rem;
	line-height: 0.96rem;
	padding-top: 0.28rem;
	display: flex;
	display: -webkit-flex;
	font-size: 14px;
	color: #303030;
}
.teladlabel span{
	padding: 0 0.08rem;
	color: #303030;
	font-weight: bold;
	font-size: 15px;
}
.teladlabel{
	padding-right: 0.4rem;
	position: relative;
}
.teladlabel:after{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -3px;
	height: 0;
	width: 0;
	border:6px solid #e2e2e2;
	border-left:4px solid rgba(0,0,0,0);
	border-right:4px solid rgba(0,0,0,0);
	border-bottom-color: rgba(0,0,0,0);
}
.telvalue{
	flex: 1;
	-webkit-flex: 1;
	color: #303030;
	margin-left: 0.52rem;
	font-size: 15px;
	height: 100%;
}
.yzmvalue,.mmvalue,.qrmmvalue,.invcodevalue,.mailvalue{
	flex: 1;
	-webkit-flex: 1;
}
.yzmbtn{
	padding-left: 0.32rem;
	color: #4fa6ff;
}
.yzmac{
	color: #ccc;
}
.mmeyesbtn,.qrmmeyesbtn{
	padding-left: 0.32rem;
	font-size: 15px;
}






.registeredwbox .phonecon li:nth-child(1){
	height: 1rem;
	line-height: 1rem;
	border-bottom-color: #f4d188;
}

.registered_gotoyhxy{
	height: 1.16rem;
	line-height: 1.16rem;
	color: #474747;
	font-size: 14px;
	padding: 0 0.72rem 0.8rem;
}
.registered_gotoyhxy a{
	color: #4fa6ff;
}
.registered_gotoyhxy span{
	padding-right: 0.24rem;
	color: #4fa6ff;
	display: none;
}
.registeredbottombox{
	padding: 0 0.72rem 0;
}
.golandingopagetext{
	color: #474747;
	font-size: 14px;
	padding-top: 0.44rem;
	line-height: 1.28rem;
	text-align: center;
}
.golandingopagetext a{
	color: #4fa6ff;
	font-weight: bold;
}