/* public */
.cppub_bg{
	background: #f4f4f4;
}
.cppub_bgtopbox{
	position: relative;
	background-repeat:no-repeat;
	background-size: 100% auto;
}
.cppub_turnpagebtn{
	position: absolute;
	width: 0.96rem;
	height: 0.76rem;
	line-height: 0.76rem;
	text-align: center;
	color: #fff;
	opacity: 0.85;
	border:1px solid rgba(255,255,255,.25);
	border-radius: 5rem;
	font-size: 0.48rem;
	right: 0.52rem;
	top: 0.44rem;
}
/* 算力 */
.miningpowertopbox{
	background-image: url(../img/miningpowertopbg.png);
	height: 4rem;
}
.miningpowertopbox .text1{
	text-align: center;
	font-size: 12px;
	color: #fff;
	opacity: 0.75;
	line-height: 0.52rem;
	padding: 0.76rem 0.52rem 0;
}
.miningpowertopbox .text2{
	text-align: center;
	font-size: 12px;
	color: #fff;
	opacity: 0.75;
	line-height: 1rem;
}
.miningpowertopbox .text2 span{
	font-weight: bold;
	font-size: 40px;
	padding-right: 0.12rem;
}
.miningp_tsbox {
	margin-top: -0.72rem;
	position: relative;
    padding: 0 0.48rem;
}
.miningp_tsbox li {
    padding-bottom: 0.2666rem;
}
.miningp_tsbox .con {
    background: #fff;
    padding: 0.2533rem 0.28rem 0.4rem;
    border-radius: 0.12rem;
	box-shadow: rgba(230,230,230,.54) 0 0.1733rem 0.2133rem;
}
.miningp_tsbox .tit {
    font-size: 18px;
    color: #474747;
    font-weight: bold;
    line-height: 0.72rem;
}
.miningp_tsbox .con1 {
    position: relative;
    padding:0.28rem 0 0;
    color: #949494;
    font-size: 12px;
}
.miningp_tsbox .con1 p {
    float: left;
    padding-right: 0.48rem;
	height: 0.7066rem;
	line-height: 0.7066rem;
}
.miningp_tsbox .con1 p span {
    color: #303030;
	font-weight: bold;
	padding-right: 0.1066rem;
}
.miningp_tsbtn {
    position: absolute;
    width: 1.48rem;
    height: 0.6666rem;
    line-height: 0.6666rem;
    font-size: 12px;
    text-align: center;
    border-radius: 5rem;
    right: 0;
    top: 0.1066rem;
	font-weight: bold;
    background: #e6e5e3;
    color: #fff;
}
.miningp_tsbtnok {
    background: -webkit-linear-gradient(left, #ffd801 , #ffaa00); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #ffd801, #ffaa00); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #ffd801, #ffaa00); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #ffd801 , #ffaa00); /* 标准的语法 */
    color: #fff;
    cursor: pointer;
}
.miningp_jdbox {
    overflow: hidden;
    width: 100%;
    height: 0.4266rem;
    border-radius: 5rem;
    background: #585d73;
}
.miningp_jdbox span {
    display: block;
    width: 0;
    height: 100%;
    border-radius: 5rem;
    overflow: hidden;
}
.miningp_permanent .miningp_jdbox span {
    background: #27d2b0;
	box-shadow: #42fbb3 -2px 0px  3px inset;
}
.miningp_temporary .miningp_jdbox span {
    background: #ff8d63;
	box-shadow: #ffb761 -2px 0px  3px inset;
}
.miningp_tsbox li.miningp_temporary .con{
	padding-bottom: 0.2rem;
}
.miningp_temporary .tiptext{
	line-height: 0.72rem;
	height: 0.72rem;
	color: #949494;
	font-size: 12px;
}
.miningp_temporary .tiptext span{
	font-weight: bold;
	color: #303030;
}
.miningp_msgbox {
    margin: 0 0.5333rem;
    padding-bottom: 0.4rem;
}
.miningp_msgbg {
    background: #fff;
    border-radius: 0.12rem;
   padding: 0.3466rem 0.4rem 0.4rem;
}
.miningp_msgtit {
    font-size: 18px;
    color: #474747;
    font-weight: bold;
    line-height: 0.6rem;
}
.miningp_msglist li {
    border-bottom: 1px solid #f1f1f1;
    padding:0.4266rem 0 0.2133rem;
}
.miningp_msglist li .con1 {
    line-height: 0.5866rem;
}
.miningp_msglist li .tit {
    font-size: 14px;
    color: #303030;
    float: left;
    width: 4.2rem;
}
.miningp_msglist li .num {
    font-size: 15px;
    float: right;
    text-align: right;
	font-weight: bold;
}
.miningp_msglist li .down {
    color: #ff8c62;
}
.miningp_msglist li .up {
    color: #23cea6;
}
.miningp_msglist li .num strong {
    padding-right:0.12rem ;
}
.miningp_msglist li .con2 {
    line-height: 0.48rem;
}
.miningp_msglist li .time {
    font-size: 12px;
    color: #ccc;
    float: left;
    width: 4.2rem;
}
.miningp_msglist li .duration {
    font-size: 12px;
    color: #ccc;
    float: right;
    text-align: right;
}
.miningp_msglist li .duration span {
    color: #474747;
}
.miningp_msgmorebox {
    text-align: center;
    padding: 0.64rem 0 0.12rem;
}
.miningp_msgmore {
    display: inline-block;
    color: #4fa6ff;
    font-size: 13px;
    line-height: 0.56rem;
    height: 0.56rem;
    cursor: pointer;
}
/* tspub */
.tspcp_titbox {
	margin: -1.08rem 0.48rem 0.2666rem;
	position: relative;
	background: #fff;
    border-radius: 0.12rem;
    box-shadow: rgba(230,230,230,.54) 0 0.1733rem 0.2133rem;
	padding: 0.56rem 0 0.48rem;
	display: flex;
	display: -webkit-flex;
}
.tspcp_titbox .leftbox,
.tspcp_titbox .rightbox{
	flex: 1;
	-webkit-flex: 1;
}
.tspcp_titbox .midbox{
	width: 1.12rem;
	height: 0.4533rem;
	margin-top: 0.48rem;
	background: #f7f7f7;
	border-radius: 5rem;
}
.tspcp_titbox .p1{
	font-size: 12px;
	color: #949494;
	line-height: 0.4266rem;
	padding-bottom: 0.1333rem;
	text-align: center;
}
.tspcp_titbox .p2{
	font-size: 18px;
	font-weight: bold;
	color: #474747;
	line-height: 0.6266rem;
	text-align: center;
}
.tspcp_titbox .rightbox .p2{
	color: #23cea6;
}
.tspub_bottombox{
	padding: 0.64rem 0.48rem 0;
}
.tspub_bottombox a{
	margin-bottom: 0.48rem;
	font-size: 18px;
}
/* dx提升临时算力 */
.dxcp_topbox,
.ffcp_topbox{
	background-image: url(../img/dxcp_topbg.png);
	height: 3.5866rem;
}
.dxcp_topbox .text1,
.ffcp_topbox .text1{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	line-height: 0.5733rem;
	padding: 0.6933rem 0 0 2.2533rem;
	font-style: italic;
}
.dxcp_topbox .text2,
.ffcp_topbox .text2{
	font-size: 30px;
	color: #55f6f9;
	font-weight: bold;
	line-height: 0.88rem;
	padding: 0 0 0 3.08rem;
	font-style: italic;
}

.dxcp_conbox,
.ffcp_conbox{
	margin: 0 0.48rem;
	position: relative;
	background: #fff;
	padding: 0.4rem 0.4rem 0.32rem;
	border-radius: 0.12rem;
	box-shadow: rgba(230,230,230,.54) 0 0.1733rem 0.2133rem;
}
.dxcp_conbox .tit,
.ffcp_conbox .tit{
	color: #949494;
	font-size: 15px;
	line-height: 0.56rem;
	padding-bottom: 0.5466rem;
	font-weight: bold;
}
.dxcp_hasul {
	padding-bottom: 0.1333rem;
}
.dxcp_hasul li {
    float: left;
    padding:0 0.45rem 0.44rem 0;
}
.dxcp_hasul li:nth-child(4n){
	padding-right: 0;
}
.dxcp_hasul .con {
    width: 1.72rem;
    height: 1.72rem;
    position: relative;
}
.dxcp_hasul .star_num {
    padding: 0 6px;
    height: 15px;
    background: #f05e42;
    border-radius: 8px;
    border: 1px solid #fff;
    position: absolute;
    right: -7px;
    top: -6px;
    line-height: 15px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.dxcp_hasul .fdxname{
	font-size:1.72rem;
	line-height: 1.72rem;
}
.dxcp_tsbox{
	background: #f7f7f7;
	border-radius: 0.2rem;
	padding: 0.44rem 0.2rem 0;
}
.dxcp_tsul{
	height: 3.92rem;
}
.dxcp_tsul li{
	float: left;
	padding:0 0.2rem 0.4rem;
}
.dxcp_tsul .con {
    width: 1.56rem;
    height: 1.56rem;
    position: relative;
}
.dxcp_tsul .fdxname{
	font-size:1.56rem;
	line-height: 1.56rem;
}
.dxcp_tstext{
	text-align: center;
	color: #949494;
	font-size: 12px;
	line-height: 0.52rem;
	padding-bottom: 0.2rem;
}
.dxcp_tstext span{
	color: #474747;
	font-weight: bold;
}
.dxcp_alltextbox{
	text-align: center;
	padding-top: 0.4rem;
	line-height: 0.52rem;
	color: #949494;
	font-size: 12px;
}
.dxcp_alltextbox strong{
	color: #23cea6;
}
.dxcp_alltextbox strong:nth-child(1){
	padding-right: 0.44rem;
}
/* gg */
.ggbcp_topbox{
	background-image: url(../img/ggbcp_topbg.png);
	background-position: left bottom;
	height: 5.4533rem;
	background-size:  auto 5.4533rem;
}
.ggbcp_topbox .text1{
	font-size: 30px;
	font-weight: bold;
	color: #55f6f9;
	line-height: 0.9066rem;
	text-align: center;
	padding-top: 1.04rem;
	font-style: italic;
}
.ggbcp_topbox .text2{
	font-size: 12px;
	color: #fff;
	line-height: 0.48rem;
	text-align: center;
	padding: 0.36rem 0.48rem 0;
}
.ggbcp_topbox .text2 span{
	color: #55f6f9;
}
.ggbcp_topbox .text2 span strong{
	font-size: 18px;
	font-weight: normal;
}
.ggcp_titbox {
	margin-top: -0.72rem ;
}
.ggcp_conbox{
	margin: -1.36rem 0.48rem 0;
    position: relative;
}
.ggcp_conbox .tit{
	font-size: 15px;
	color: #949494;
	line-height: 0.56rem;
	font-weight: bold;
	padding-bottom: 0.6rem;
}
.ggcp_conul{
	padding-bottom: 2.36rem;
	
}
.ggcp_conul li{
	margin-bottom: 0.28rem;
	padding:0 0.32rem 0 0.4rem;
	line-height: 1.76rem;
	height: 1.76rem;
	text-align: center;
	background: #f7f7f7;
	border-radius: 0.2rem;
	display: flex;
	display: -webkit-flex;
}
.ggcp_conul li.active{
	box-shadow: rgba(230,230,230,.42) 0 0 0.28rem;
	background: #fff;
}
.ggcp_conul li .pushbtn{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 0.52rem;
	color: #ccc;
}
.ggcp_conul .leftb{
	font-size: 0.7733rem;
	width: 0.7733rem;
	padding-right: 0.4rem;
}
.ggcp_conul .text{
	font-weight: bold;
	font-size: 18px;
	color: #474747;
	flex: 1;
	-webkit-flex: 1;
	text-align: left;
}
.ggcp_jzbtn,
.ggcp_jzbtnend{
	color: #23cea6;
	font-weight: bold;
	background: #f7f7f7;
	width: 2rem;
	height: 0.84rem;
	line-height: 0.84rem;
	margin-top: 0.48rem;
	text-align: center;
	border-radius: 5rem;
	font-size: 14px;
}
.ggcp_jzbtnend{
	color: #cccccc;
}
.ggcp_conul .conac{
	width: 1.4rem;
	height: 1.4rem;
	font-size: 1.4rem;
	display: none;
}
.ggcp_conul li.active .con{
	display: none;
}
.ggcp_conul li.active .conac{
	display: block;
}
.ggcp_bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.36rem;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) , rgba(255,255,255,1) 50%); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(bottom,rgba(255,255,255,0), rgba(255,255,255,1) 50%); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(bottom,rgba(255,255,255,0), rgba(255,255,255,1) 50%); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) , rgba(255,255,255,1) 50%); /* 标准的语法 */
	z-index: 10;
}
/* ff */
.ffcp_conbox{
	padding-bottom: 0.56rem;
}
.ffcp_bottombox{
	position: absolute;
	left: 0;
	bottom: 0.48rem;
	width: 100%;
	z-index: 10;
}
.ffcp_bottombox a{
	margin:0 0.48rem;
	display: block;
	width: auto;
}
.ffcp_con {
    padding: 0 0 0.24rem;
    display: -moz-box;
    display: -webkit-box;
    display: box;
}
.ffcp_con .leftbox {
    min-width: 2rem;
    padding-right: 0.22rem;
}
.ffcp_con p.stit {
    font-size: 12px;
    color: #949494;
    line-height: 0.44rem;
}
.ffcp_con p.tsnum,
.ffcp_con p.successratenum{
    font-size: 16px;
    color: #303030;
    font-weight: bold;
    line-height: 0.52rem;
}
.ffcp_con .midbox {
    position: relative;
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
}
.ffcp_con .midbox:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    overflow: hidden;
    border-radius: 5px;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background: #f3f5f7;
}
.ffcp_con .midbox p {
    width: 2.2rem;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -1.1rem;
    top: 50%;
    margin-top: -0.25rem;
    z-index: 1;
    background: #f3f5f7;
    border-radius: 5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 12px;
    color: #949494;
}
.ffcp_con .midbox p span{
	color: #303030;
}
.ffcp_con .rightbox {
    min-width: 2rem;
    padding-left: 0.22rem;
    text-align: right;
}
.ffcp_choicecon {
    padding: 0.36rem 0;
    /* margin: 0 0.1733rem; */
    position: relative;
}
.ffcp_choicecon .rolltiaobg {
    height: 0.1333rem;
    border-radius: 2px;
    background: -webkit-linear-gradient(left, #a8e92a , #51dd7f);
    background: -o-linear-gradient(right, #a8e92a, #51dd7f);
    background: -moz-linear-gradient(right, #a8e92a, #51dd7f);
    background: linear-gradient(to right, #a8e92a , #51dd7f);
    text-align: right;
    overflow: hidden;
}
.ffcp_choicecon .rolltiaobg span {
    display: inline-block;
    width: 100%;
    background: #eee;
    height: 100%;
    vertical-align: top;
}
.ffcp_choicecon .rolltiaomovebtn {
    position: absolute;
    left: 0;
    top: 0;
    width: 0.88rem;
    height: 0.88rem;
    border-radius: 0.88rem;
    background: #4bd77c ;
	border:0.0666rem solid #fff;
    /* background-size: 100% 100%; */
    box-shadow: rgba(74,214,123,.16) 0 1px 0.16rem;
	box-sizing: border-box;
    cursor: pointer;
}
.ffcp_choiceqj{
	line-height: 0.48rem;
	color: #949494;
	font-size: 12px;
}
.ffcp_choiceqj span:nth-child(1){
	float: left;
}
.ffcp_choiceqj span:nth-child(2){
	float: right;
}