.treebox,.treecon{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.treetopbox{
	position: absolute;
	top: 0.32rem;
	left: 0;
	width: 100%;
}
.tree_returnpagebtn{
	float: left;
	width: 0.96rem;
	height: 0.76rem;
	line-height: 0.76rem;
	text-align: center;
	color: #595d73;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,.77);
    border-radius: 5rem;
    font-size: 0.48rem;
    margin-left: 0.3333rem;
	box-shadow:rgba(255,255,255,.75) 0 0 0.36rem inset;
}
.topnav_box{
	float: right;
	margin-right: 0.3333rem;
	
	/* width: 0.96rem; */
	/* text-align: center; */
	color: #414458;
	font-weight: bold;
	background: rgba(255,255,255,0.2);
	/* */
	border-radius: 5rem;
	font-size: 0.4rem;
	box-shadow:rgba(255,255,255,.75) 0 0 0.36rem inset;
}
.topnav_box .left{
	float: left;
	border: 1px solid rgba(255,255,255,.66);
	height: 0.76rem;
	line-height: 0.76rem;
	padding-left: 1px;
	border-radius: 5rem;
}
.topnav_box .left em{
	font-style: normal;
	font-size: 0.76rem;
	vertical-align: top;
}
.topnav_box .left span{
	padding: 0 0.24rem 0 0.1066rem;
	vertical-align: top;
}
.topnav_box .right{
	float: left;
	height: 0.76rem;
	padding: 1px 0.16rem 1px 0.08rem;
	line-height: 0.76rem;
	font-size: 0.32rem;
	color: #595d73;
}
.tree_rightnavbox{
	position: absolute;
	right: 0.68rem;
	top: 2.5066rem;
}
.tree_rightnavbox li{
	padding-bottom: 0.28rem;
}
.tree_rightnavbox a{
	font-size: 1.2266rem;
}
.tree_bottomnavbox{
	position: absolute;
	left: 0.3866rem;
	bottom: 0.8133rem;
}
.tree_bottomnavbox li{
	padding:0 0.32rem;
	float: left;
}
.tree_bottomnavbox a{
	font-size: 1.5466rem;
}
.tree_leftnavbox{
	position: absolute;
	left: 0.5066rem;
	top: 6.2133rem;
}
.tree_leftnavbox .hjaccelerate{
	padding-bottom:0.2266rem;
}
.tree_leftnavbox .hjaccelerate a{
	display: inline-block;
	padding-left: 1.24rem;
	background: url(../img/t_hjaccelerate_01.png) no-repeat;
	background-size:1.26rem 100%;
}
.tree_leftnavbox .hjaccelerate a .right{
	padding-right: 0.5333rem;
	background: url(../img/t_hjaccelerate_03.png) no-repeat right top;
	background-size:0.5433rem 100% ;
}
.tree_leftnavbox .hjaccelerate a p{
	padding:0 0.08rem;
	height: 1.24rem;
	background: url(../img/t_hjaccelerate_02.png) no-repeat;
	background-size:102% 100% ;
	color: #fffefe;
	font-size: 12px;
	line-height:1.24rem;
	font-weight: bold;
}
.tree_leftnavbox .hjaccelerate a p span{
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	display: inline-block;
}
.tree_leftnavbox .treem_power{
	padding-left: 0.2rem;
}
.tree_leftnavbox .treem_power a{
	display: inline-block;
	height: 0.5866rem;
	line-height: 0.5866rem;
	border:0.0533rem solid #884b1a;
	border-radius: 5rem;
	background: #ffd400;
	font-size: 12px;
	color: #b75716;
	
}
.tree_leftnavbox .treem_power a p{
	display: inline-block;
	vertical-align: top;
	padding: 0 0.16rem 0 0.12rem;
}
.tree_leftnavbox .treem_power a span{
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	padding-left: 0.1466rem;
}
.treefdfruitbox {
    position: absolute;
    width: 1px;
    top: 50%;
}
.treefdfruitbox li {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
}
.treefdfruitbox li .conbox {
    font-size: 1rem;
	line-height: 1rem;
	height: 1rem;
}
.dexingadflo{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
}
.dexingadflocon{
	margin: 1.6rem 0.64rem 0;
	padding: 0.4rem 0.4rem 0.44rem;
	width: 7.92rem;
	background: rgba(255,255,255,.85);
	border-radius: 0.68rem;
	position: relative;
}
.dexingadflocon .ggbox{
	width: 7.92rem;
	height: 7.92rem;
	overflow: hidden;
	border-radius: 0.2rem;
}
.dexingadflocon .ggbox a{
	display: block;
	width: 100%;
	height: 100%;
}
.dexingadflocon .ggbox img{
	width: 100%;
}
.dexingadflocon .ggtit{
	padding-top: 0.44rem;
	text-align: center;
	font-size: 14px;
	color: #303030;
	line-height: 0.56rem;
}
.dexingadflocon .ggtit strong{
	color: #f36347;
	font-size: 18px;
}
.closedexingadflobtn{
	position: absolute;
    width: 0.84rem;
    height: 0.84rem;
    line-height: 0.84rem;
    text-align: center;
    color: #fff;
    font-size: 0.84rem;
    left:50%;
	margin-left: -0.42rem;
    bottom: -1.48rem;
    opacity: 0.75;
    padding: 0.2rem;
}