.treebox,.treecon{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.treetopbox{
	position: absolute;
	top: 0.32rem;
	left: 0;
	width: 100%;
}
.tree_returnpagebtn{
	float: left;
	width: 0.96rem;
	height: 0.76rem;
	line-height: 0.76rem;
	text-align: center;
	color: #595d73;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,.77);
    border-radius: 5rem;
    font-size: 0.48rem;
    margin-left: 0.3333rem;
	box-shadow:rgba(255,255,255,.75) 0 0 0.36rem inset;
}
.topnav_box{
	float: right;
	margin-right: 0.3333rem;
	
	/* width: 0.96rem; */
	/* text-align: center; */
	color: #414458;
	font-weight: bold;
	background: rgba(255,255,255,0.2);
	/* */
	border-radius: 5rem;
	font-size: 0.4rem;
	box-shadow:rgba(255,255,255,.75) 0 0 0.36rem inset;
}
.topnav_box .left{
	float: left;
	border: 1px solid rgba(255,255,255,.66);
	height: 0.76rem;
	line-height: 0.76rem;
	padding-left: 1px;
	border-radius: 5rem;
}
.topnav_box .left em{
	font-style: normal;
	font-size: 0.76rem;
	vertical-align: top;
	display: inline-block;
	width: 0.68rem;
	height: 100%;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.topnav_box .left span{
	padding: 0 0.24rem 0 0.1066rem;
	vertical-align: top;
}
.topnav_box .right{
	float: left;
	height: 0.76rem;
	padding: 1px 0.16rem 1px 0.08rem;
	line-height: 0.76rem;
	font-size: 0.32rem;
	color: #595d73;
}
.tree_rightnavbox{
	position: absolute;
	right: 0.68rem;
	top: 2.5066rem;
}
.tree_rightnavbox li{
	padding-bottom: 0.28rem;
}
.tree_rightnavbox a{
	display: block;
	width: 1.32rem;
	height: 1.32rem;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.tree_rightnavbox a.tree_zcico{
	background-image: url(../img/tree_zcico.png);
}
.tree_rightnavbox a.tree_yqico{
	background-image: url(../img/tree_yqico.png);
}
.tree_bottomnavbox{
	position: absolute;
	left: 0.3866rem;
	bottom: 0.8133rem;
}
.tree_bottomnavbox li{
	padding:0 0.32rem;
	float: left;
}
.tree_bottomnavbox a{
	display: block;
	width: 1.4933rem;
	height: 1.4933rem;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.tree_bottomnavbox a.tree_dxcjico{
	background-image: url(../img/tree_dxcjico.png);
}
.tree_bottomnavbox a.tree_jypdico{
	background-image: url(../img/tree_jypdico.png);
}
.tree_bottomnavbox a.tree_wkslico{
	background-image: url(../img/tree_wkslico.png);
}
.tree_leftnavbox{
	position: absolute;
	left: 0.5066rem;
	top: 6.2133rem;
}
.tree_leftnavbox .hjaccelerate{
	padding-bottom:0.2266rem;
}
.tree_leftnavbox .hjaccelerate a{
	display: inline-block;
	padding-left: 1.24rem;
	background: url(../img/t_hjaccelerate_01.png) no-repeat;
	background-size:1.26rem 100%;
}
.tree_leftnavbox .hjaccelerate a .right{
	padding-right: 0.5333rem;
	background: url(../img/t_hjaccelerate_03.png) no-repeat right top;
	background-size:0.5433rem 100% ;
}
.tree_leftnavbox .hjaccelerate a p{
	padding:0 0.08rem;
	height: 1.24rem;
	background: url(../img/t_hjaccelerate_02.png) no-repeat;
	background-size:102% 100% ;
	color: #fffefe;
	font-size: 12px;
	line-height:1.24rem;
	font-weight: bold;
}
.tree_leftnavbox .hjaccelerate a p span{
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	display: inline-block;
}
.tree_leftnavbox .treem_power{
	padding-left: 0.2rem;
}
.tree_leftnavbox .treem_power a{
	display: inline-block;
	height: 0.5866rem;
	line-height: 0.5866rem;
	border:0.04rem solid #bd5204;
	border-radius: 5rem;
	background: #ffd400;
	font-size: 12px;
	color: #bd5204;
	
}
.tree_leftnavbox .treem_power a p{
	display: inline-block;
	vertical-align: top;
	padding: 0 0.16rem 0 0.12rem;
}
.tree_leftnavbox .treem_power a span{
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	padding-left: 0.1466rem;
	color: #bd5204;
}
.treefdfruitbox {
    position: absolute;
    width: 1px;
    top: 50%;
}
.treefdfruitbox li {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
}
.treefdfruitbox li .conbox {
	width: 1.16rem;
	height: 1.16rem;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.treefdfruitbox li .conbox_ff{
	background-image: url(../img/treeft_ff.png);
}
.treefdfruitbox li .conbox_dx{
	background-image: url(../img/treeft_dx.png);
}
.dexingadflo{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
}
.dexingadflocon{
	margin: 1.6rem auto 0;
	padding: 0.4rem 0.4rem 0.44rem;
	width: 7.92rem;
	background: rgba(255,255,255,.85);
	border-radius: 0.68rem;
	position: relative;
}
.dexingadflocon .ggbox{
	width: 7.92rem;
	height: 7.92rem;
	overflow: hidden;
	border-radius: 0.2rem;
}
.dexingadflocon .ggbox a{
	display: block;
	width: 100%;
	height: 100%;
}
.dexingadflocon .ggbox img{
	width: 100%;
}
.dexingadflocon .ggtit{
	padding-top: 0.44rem;
	text-align: center;
	font-size: 14px;
	color: #303030;
	line-height: 0.56rem;
}
.dexingadflocon .ggtit strong{
	color: #f36347;
	font-size: 18px;
}
.closedexingadflobtn{
	position: absolute;
    width: 0.84rem;
    height: 0.84rem;
    line-height: 0.84rem;
    text-align: center;
    color: #fff;
    font-size: 0.84rem;
    left:50%;
	margin-left: -0.42rem;
    bottom: -1.48rem;
    opacity: 0.75;
    padding: 0.2rem;
}
.getfdfruitflobox{
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	background: rgba(0,0,0,.5);
	z-index: 10;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
}
.getfdfruitflow{
	margin: 3.2rem auto;
    width: 7.68rem;
    padding: 0.16rem;
    border-radius: 0.64rem;
    background: -webkit-linear-gradient(top, #ff6e72 , #ff9067);
    background: -o-linear-gradient(bottom, #ff6e72, #ff9067);
    background: -moz-linear-gradient(bottom, #ff6e72, #ff9067);
    background: linear-gradient(to bottom, #ff6e72 , #ff9067);
    position: relative;
}
.getfdfruitfloc{
	background: #fff;
	border-radius: 0.52rem;
	position: relative;
}
.getfdx_typeb{
	position: absolute;
	top: -2.68rem;
	width:6.2rem;
	height: 6.12rem;
	left: 50%;
	margin-left: -3.1rem;
	background: url(../img/guang.png) no-repeat;
	background-size: 100% 100%;
}
.getfdx_typebc{
	display: block;
	width: 2.76rem;
	height: 2.76rem;
	margin: 0 auto;
	padding-top: 1.36rem;
	background-size: 2.76rem auto;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.getfdx_typeb .shan{
	position: absolute;
	background: url(../img/shan.png) no-repeat;
	background-size: 100% 100%;
}
.getfdx_typeb .shan:nth-of-type(1){
	width:0.64rem ;
	height: 0.72rem;
	top:1.2rem;
	left:1.36rem;
	-webkit-animation: 1.8s scalestart ease-out infinite;
    animation: 1.8s scalestart ease-out infinite;
}
.getfdx_typeb .shan:nth-of-type(2){
	width:0.44rem ;
	height: 0.48rem;
	top:3.52rem;
	left:1.4rem;
	-webkit-animation: 0.8s scalestart ease-out infinite;
    animation: 0.8s scalestart ease-out infinite;
}
.getfdx_typeb .shan:nth-of-type(3){
	width:0.52rem ;
	height: 0.56rem;
	top:3.12rem;
	left:4.6rem;
	-webkit-animation: 1.2s scalestart ease-out infinite;
    animation: 1.2s scalestart ease-out infinite;
}
.getfdx_typeconb{
	position: relative;
	padding-top: 2.28rem;
	text-align: center;
}
.immediatechargedxbtn{
	height: 1rem;
	display: block;
	margin: 0 auto;
	background: #fdd32a;
	width: 3.52rem;
	border-radius: 0.16rem;
	border:0.04rem solid #ff9964;
	line-height: 1rem;
	text-align: center;
	font-size: 18px;
	color: #303030;
}
.getfdx_typeconb .text1{
	color: #303030;
	font-size: 24px;
	font-weight: bold;
	line-height: 0.76rem;
	height: 0.76rem;
	padding-bottom: 0.2rem;
}
.getfdx_typeconb .text2{
	color: #f5614e;
	font-size: 18px;
	line-height: 0.6rem;
	height: 0.6rem;
	padding-bottom: 0.8rem;
}
.getfdx_typeconb .text3{
	color: #949495;
	font-size: 12px;
	line-height: 0.44rem;
	height: 0.44rem;
	padding:0.24rem 0 0.72rem;
}
.closegetfdfruitfloboxbtn{
	position: absolute;
	width: 0.84rem;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	color: #fff;
	font-size: 0.84rem;
	left:50%;
	margin-left: -0.42rem;
	bottom: -1.48rem;
	opacity: 0.75;
	padding: 0.2rem;
}